<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">SMART X-ray</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href="{% url 'server_choose' %}">Синхронизация</a>
            <a class="nav-link" href="{% url 'studies_list' %}">Исследования</a>
            <a class="nav-link active" aria-current="page" href="#">Главная</a>
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'account_logout' %}">Выход</a>
            {% else %}
                <a class="nav-link" href="{% url 'account_login' %}">Вход</a>
                <a class="nav-link" href="{% url 'account_signup' %}">Регистрация</a>
            {% endif %}
        </nav>
        <span><a class="username-bar nav-link text-white" href="{% url 'account_logout' %}"> {{ user.username }} </a></span>
    </div>
</header>